@import '~@/style/colors.scss';

.module {
  position: fixed;
  top: 30px;
  left: 0;

  :global {
    .btn-toggle {
      border-radius: 0;
      padding: 0 5px;

      .icon {
        color: $gray-1;
      }
    }

    .header-nav-right {
      border: 1px solid $primary-color;
      overflow: hidden;
    }

    .header-nav-item {
      height: 38px;
      line-height: 38px;
    }

    .header-nav-item-link {
      box-sizing: border-box;
      font-size: 16px;
      margin: 0 10px;
      white-space: nowrap;
      color: $title-color;

      &:hover {
        border-bottom: 2px solid $primary-color;
      }
    }

    .active {
      color: $primary-color;
      font-weight: 600;
    }
  }
}